.mat-icon-button:focus {
    outline: none !important;
}

.mat-icon {
    font-size: 2em !important;
}

.mat-card {
    margin-top: 20px;
}

.custom-url-card {
    margin-bottom: 20px;
}

.input-full-width {
    margin-top:20px;
    width: 100%;
}

.padding-info {
    margin-top: 20px;
}

.text-custom {
    min-height: 80px;
    margin-top: 5px;
    box-shadow: inset 0 0 4pt rgba(0,0,0,0.3)!important;
}